body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFD700;
    color: black;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #FFA500;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

.content {
    padding: 20px;
    background-color: #0000FF;
    color: white;
    margin: 10px 0;
}

/* Estilos para pantallas con un ancho máximo de 600px */
@media (max-width: 600px) {

    header,
    nav,
    .content {
        padding: 10px;
    }
}

/* Estilos para pantallas con un ancho máximo de 936px */
@media (max-width: 936px) {

    header,
    nav,
    .content {
        padding: 15px;
    }
}